.shop-container {
    display: grid;
    grid-template-columns: 3.25fr .75fr;
}

.product-container {
    border-right: 1px solid lightgrey;
    margin-right: 5px;
    margin-left: 50px;
}

.cart-container {
    margin-right: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}